/.idea
/vendor
/node_modules
Homestead.yaml
.env
resources/sql/sql-backup.zip
public/assets/js/stat.json
*.old
public/RealAdminDashboard.zip
public/id.php
composer.phar
.cshrc
.login
.login_conf
.mailrc
.profile
.shrc
storage/chunks/*
storage/downloads/*